* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body i {
  color: white;
}
.header {
  width: 100%;
  background-color: black;
  padding: 0 15px;
}
.header .nav-bar {
  width: 100%;
  height: 60px;
  line-height: 60px;
}
.header .nav-bar .nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav-bar .nav .menu-bar {
  position: relative;
  height: 60px;
  width: 34px;
  background-color: black;
}
.header .nav-bar .nav .menu-bar span {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  transform-origin: left;
  transition: all 0.3s;
}
.header .nav-bar .nav .menu-bar span:nth-child(1) {
  top: 18px;
}
.header .nav-bar .nav .menu-bar span:nth-child(2) {
  top: 30px;
}
.header .nav-bar .nav .menu-bar span:nth-child(3) {
  bottom: 17px;
}
.header .nav-bar .nav .menu-bar:hover span:nth-child(1) {
  transform: rotateZ(44deg);
}
.header .nav-bar .nav .menu-bar:hover span:nth-child(2) {
  opacity: 0;
}
.header .nav-bar .nav .menu-bar:hover span:nth-child(3) {
  transform: rotateZ(-43deg);
}
.header .nav-bar .nav .menu-bar:hover ~ .menu-list {
  height: 50vh;
  width: 50vw;
}
.header .nav-bar .nav .menu-list {
  position: absolute;
  background-color: black;
  color: white;
  left: -15px;
  top: 60px;
  width: 0;
  height: 0;
  transition: all 0.6s;
  overflow: hidden;
  z-index: 999;
}
.header .nav-bar .nav .menu-list ul {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.header .nav-bar .nav .menu-list ul li {
  position: relative;
  border-bottom: 1px solid white;
  height: 60px;
  padding: 0 3px;
}
.header .nav-bar .nav .menu-list ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.header .nav-bar .nav .menu-list ul li a {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
}
.header .nav-bar .nav .menu-list ul li i {
  display: block;
  position: absolute;
  right: 6px;
  top: 21.5px;
}
.header .nav-bar .nav .menu-list:hover {
  height: 50vh;
  width: 50vw;
}
.header .nav-bar .nav .logo a,
.header .nav-bar .nav .help a {
  display: block;
}
.header .nav-bar .nav .logo a i,
.header .nav-bar .nav .help a i {
  font-size: 25px;
}
.section {
  width: 100%;
  height: 100%;
}
.section .b-img1,
.section .b-img2,
.section .b-img3,
.section .b-img4 {
  position: relative;
  background-size: cover;
  height: 50vh;
  background-repeat: no-repeat;
}
.section .b-img1 .b-text,
.section .b-img2 .b-text,
.section .b-img3 .b-text,
.section .b-img4 .b-text {
  position: absolute;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.section .b-img1 .b-text span,
.section .b-img2 .b-text span,
.section .b-img3 .b-text span,
.section .b-img4 .b-text span {
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 25px;
}
.section .b-img1 {
  background-image: url(../img/b1.jpg);
}
.section .b-img2 {
  background-image: url(../img/b2.jpg);
}
.section .b-img3 {
  background-image: url(../img/b3.jpg);
}
.section .b-img4 {
  background-image: url(../img/b4.jpg);
}
.section .dark {
  background-color: gray;
}
.section .paragraph {
  width: 100%;
  height: auto;
}
.section .paragraph .p-text {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
.section .paragraph .p-text p {
  vertical-align: middle;
  text-align: justify;
  text-indent: 2em;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
}
.bear-b {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bear-b.png);
  background-repeat: repeat-x;
  background-size: 800px ;
  background-position-y: 91%;
  z-index: 1;
  background-color: black;
  animation: bgcmove 60s linear 0.5s infinite;
}
.bear-b .bear-m {
  position: absolute;
  width: 100vw;
  height: 84px;
  left: 0;
  bottom: 35px;
  background-image: url(../img/bear-m.png);
  background-repeat: repeat-x;
  background-size: 800px ;
  animation: Mmove 40s linear 0.9s infinite;
}
.bear-b .m2 {
  bottom: 58px;
  opacity: 0.6;
  background-position-x: 40%;
  animation: Mmove2 50s linear 0.9s infinite;
}
.bear-b .bear-warrp {
  width: 100%;
  height: 50px;
  bottom: 0px;
  left: 0;
  position: absolute;
  background-color: rgba(230, 238, 240);
}
.bear-b .bear-warrp .bear {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../img/bear.png);
  background-repeat: repeat-x;
  background-size: 400px;
  animation: bear 1s steps(8) infinite forwards, move 3s forwards;
}
.bear-b .moon-container {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 43px;
  top: 22px;
  transform: rotateZ(-15deg);
}
.bear-b .moon-container .moon,
.bear-b .moon-container .moon-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(229, 207, 162);
}
.bear-b .moon-container .moon-copy {
  left: 25%;
  background-color: black;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #6b6a6a;
  color: white;
  font-size: 12px;
}
.footer .contact {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.footer .contact a {
  display: block;
  width: 100%;
  height: 100%;
}
.footer .contact a i {
  display: block;
  font-size: 20px;
}
.footer .copyright a {
  color: white;
}
@keyframes bear {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400px 0;
  }
}
/*熊所在的盒子动画 */
@keyframes move {
  from {
    left: 0;
  }
  to {
    left: 50%;
    transform: translateX(-50%);
  }
}
/* 背景图片动画 */
@keyframes bgcmove {
  0% {
    background-position: 0 91%;
  }
  100% {
    background-position: -800px 91%;
  }
}
/* 背景山脉动画 */
@keyframes Mmove {
  0% {
    background-position: 0 0%;
  }
  100% {
    background-position: -800px 0%;
  }
}
@keyframes Mmove2 {
  0% {
    background-position: 40% 0%;
  }
  100% {
    background-position: -800px 0%;
  }
}
@media screen and (min-width: 600px) {
  .header {
    padding: 0 100px;
  }
  .header .nav-bar .nav .menu-bar {
    display: none;
  }
  .header .nav-bar .nav .logo {
    order: 1;
  }
  .header .nav-bar .nav .help {
    order: 3;
  }
  .header .nav-bar .nav .menu-list {
    flex-grow: 1;
    order: 2;
    position: static;
    height: 60px;
  }
  .header .nav-bar .nav .menu-list ul {
    display: flex;
    justify-content: space-evenly;
  }
  .header .nav-bar .nav .menu-list ul li {
    border-bottom: 1px solid red;
  }
  .header .nav-bar .nav .menu-list ul li i {
    display: none;
  }
  .header .nav-bar .nav .menu-list:hover {
    height: 60px;
  }
  .section {
    width: 100%;
    height: 100%;
  }
  .section .b-img1,
  .section .b-img2,
  .section .b-img3,
  .section .b-img4 {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
  }
  .bear-b {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bear-b.png);
    background-repeat: repeat-x;
    background-size: 1920px ;
    background-position-y: 91%;
    z-index: 1;
    animation: bgcmove 100s linear 0.5s infinite;
  }
  .bear-b .bear-m {
    position: absolute;
    width: 100vw;
    height: 118px;
    left: 0;
    bottom: 100px;
    background-image: url(../img/bear-m.png);
    background-repeat: repeat-x;
    background-size: 1920px ;
    animation: Mmove 80s linear 0.9s infinite;
  }
  .bear-b .m2 {
    bottom: 133px;
    opacity: 0.6;
    background-position-x: 100px;
    animation: Mmove2 70s linear 0.9s infinite;
  }
  .bear-b .bear-warrp {
    width: 100%;
    height: 100px;
    bottom: 0px;
    left: 0;
    position: absolute;
    background-color: rgba(230, 238, 240);
  }
  .bear-b .bear-warrp .bear {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(../img/bear.png);
    background-repeat: repeat-x;
    background-size: 800px;
    animation: bear 1s steps(8) infinite forwards, move 3s forwards;
  }
  .footer .contact {
    width: 15%;
  }
  @keyframes bear {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -800px 0;
    }
  }
  /* 背景图片动画 */
  @keyframes bgcmove {
    0% {
      background-position: 0 91%;
    }
    100% {
      background-position: -1920px 91%;
    }
  }
  /* 背景山脉动画 */
  @keyframes Mmove {
    0% {
      background-position: 0 0%;
    }
    100% {
      background-position: -1920px 0%;
    }
  }
  @keyframes Mmove2 {
    0% {
      background-position: 40% 0%;
    }
    100% {
      background-position: -1920px 0%;
    }
  }
}
