.manage-type{
    width: 100%;
}

.manage-type ul {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.manage-type ul li a {
    display: block;
}

.manage-type ul li {
    text-align: center;
    line-height: 35px;
    width: 100px;
    height: 35px;
    border: 1px solid black;
    font-size: 13px;
}
.manage-type ul li:nth-child(2){
    border-left: none;
    background-color: #8400FF;
}
.manage-type ul li:nth-child(2) a{
    color: white;
}

td >div{
    width: 100px;
    margin: 0 auto;
}
td >div >span{
    display: inline-block;
    width: 60px;
    border: 1px solid black;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
}
td a{
    color: purple;
}
.table{
text-align: center;
width: 100%;
}
input{
    width: 30px;
    text-align: center;
}
tr{
    height: 50px;
}
.g-type-wrap{
    margin: 0 10px;
}
.add-type img{
    width: 55px;
}
.add-type span{
    display: block;
    color: #8400FF;
}
.add-type {
    margin-left: 10%;
}